version: "2"
services:
  web:
    build: .
    ports:
    - "8080:8080"
    depends_on:
    - mongo
  mongo:
    image: mongo
    ports:
    - "27017:27017"
    volumes:
    - ./db:/data/db

  adminer:
    image: mongo-express
    depends_on:
        - mongo
    ports:
    - "8081:8081"

